{% extends 'base.html' %}

{% block title %}Public Scoreboard{% endblock %}

{% block head %}
<style>
#contextMenu {
  position: absolute;
  display:none;
}

// see https://stackoverflow.com/a/27704409 for why we include the table id

#team-table .x-lri-t-weighed {
  background-color: #ffffff;
}

#team-table .x-lri-t-passed-inspection {
  background-color: #80ff80;
}

#team-table .x-lri-t- {
  background-color: #c0c0c0;
}

#team-table .x-lri-blank {
  background-color: #c0c0c0;
}

#page-table .x-lri-blank {
  // background-color: #808080;
}
</style>
{% endblock %}

{% block body %}
<!-- https://stackoverflow.com/a/68817428 -->
<div class="container p-0 m-0">
  <table class="table vh-100 vw-100" id="page-table">
    <tr>
      <td class="p-0 m-0 col-9">
        <table id="team-table" class="table table-bordered vh-100" style="table-layout: fixed;">
        {% for row in team_rows %}
          <tr>
          {% for g in row %}
            {% set team=g.team %}
            {% if team is none %}
              <td class="x-lri-blank"></td>
            {% else %}
              <td class="x-lri-t- cm" id="t-{{team.team_number}}" onClick="showTeamMenu({{ team.team_number }})">
                <div class="h1">{{ team.team_number }}</div>
                <div class="h6">{{ team.team_name }}</div>
                <div class="h6">{{ team.city }}</div>
                <div id="t-{{team.team_number}}-status"></div>
              </td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </td>
      <td class="col-3 x-lri-blank">
        <div id="overall-status" class="h1">&nbsp;</div>
        <div id="inspectors">
        {% for i in inspectors %}
          <div class="x-lri-i-available">
              {{ i.name }}: <span id="i-{{ i.id }}-status"></span>
          </div>
        {% endfor %}
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- the modal for changing team status -->
<div class="modal fade" id="team-pulldown">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">
          Change status for <span id="team-pulldown-team-number" class="x-lri-pulldown-team-number"></span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="h5 x-lri-pulldown-team-name">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <span>
          <button id="team-pulldown-weigh" class="btn btn-primary x-lri-team-pulldown-item">Mark Weighed</button>
          <button id="team-pulldown-unweigh" class="btn btn-primary x-lri-team-pulldown-item">Mark Not Weighed</button>
          <button id="team-pulldown-inspect" class="btn btn-primary x-lri-team-pulldown-item">Mark Inspected</button>
          <button id="team-pulldown-uninspect" class="btn btn-primary x-lri-team-pulldown-item">Mark Not Inspected</button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- context menu: https://stackoverflow.com/a/31305343 -->
<script src="/static/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
var socket;

function makeClassName(text) {
  return text.replaceAll(new RegExp("\\s+", "g"), "-").toLowerCase();
}

// https://stackoverflow.com/a/53190845 slightly modified the regexp
function removeClassStartingWith(node, begin) {
  node.removeClass (function (index, className) {
    return (className.match ( new RegExp("\\b"+begin+"\\S*", "g") ) || []).join(' ');
  });
}

function showTeamMenu(team_number) {
  console.log("show_team_menu", team_number)
  if (socket) socket.emit('send_team_menu', {'team_number': team_number});
}

$(document).ready(function() {
  // Connect to the Socket.IO server.
  // The connection URL has the following format, relative to the current page:
  //     http[s]://<domain>:<port>[/<namespace>]
  socket = io();

  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('lri_event', {data: 'LRI page connected!'});
    socket.emit('send_teams', {});
    socket.emit('send_inspectors', {});
    socket.emit('send_status', {});
  });

  // server updated a team
  socket.on('team', function(msg, cb) {
    // $('#log').append('<br>' + $('<div/>').text(JSON.stringify(msg)).html());
    var team_number = msg.team_number.toString();

    var s = msg.status;
    if (s == '') s = '\u00a0';
    $('#t-' + team_number + '-status').text(s);

    removeClassStartingWith($('#t-' + team_number), 'x-lri-t-');
    $('#t-' + team_number).addClass('x-lri-t-' + makeClassName(msg.status));
    if (cb) cb();
  });

  // server updated an inspector
  socket.on('inspector', function(msg, cb) {
    var inspector_id = msg.id.toString();

    $('#i-' + inspector_id + '-status').text(msg.status_text);

    if (cb) cb();
  });

  // server sent us a status summary
  socket.on('status', function(msg, cb) {
    var total = msg.total;
    var complete = msg.complete;

    $('#overall-status').text(complete + " of " + total + " passed.");

    if (cb) cb();
  });

  // we got a response form telling the server that someone wanted the context menu for a team
  socket.on('show_team_menu', function(msg, cb) {
    console.log ('got team', msg);

    var team = msg;

    if (team.inspected) {
      $('#team-pulldown-weigh').hide();
      $('#team-pulldown-unweigh').hide();
      $('#team-pulldown-inspect').hide();
      $('#team-pulldown-uninspect').show();
    } else {
      $('#team-pulldown-uninspect').hide();
      if (team.weighed) {
        $('#team-pulldown-weigh').hide();
        $('#team-pulldown-unweigh').show();
        $('#team-pulldown-inspect').show();
      } else {
        $('#team-pulldown-weigh').show();
        $('#team-pulldown-unweigh').hide();
        $('#team-pulldown-inspect').hide();
    }
    }

    $('.x-lri-pulldown-team-number').text(team.team_number.toString())
    $('.x-lri-pulldown-team-name').text(team.team_name)
    let modal = new bootstrap.Modal(document.getElementById('team-pulldown'));
    modal.show();

    if (cb) cb();
  });

  // user clicked on a button in the team modal
  $('.x-lri-team-pulldown-item').on('click', function(e) {
    console.log('clicked', e);
    console.log('button id is', e.target.id);
    $('#team-pulldown').modal('hide');
    var team_number = Number($('#team-pulldown-team-number').text())
    socket.emit(e.target.id, {'team_number': team_number})
  });

});

</script>
{% endblock %}
