{% extends 'base.html' %}

{% block title %}Public Scoreboard{% endblock %}

{% block style %}
<style>
#contextMenu {
  position: absolute;
  display:none;
}
</style>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
  // Connect to the Socket.IO server.
  // The connection URL has the following format, relative to the current page:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io();

  // Event handler for new connections.
  // The callback function is invoked when a connection with the
  // server is established.
  socket.on('connect', function() {
      socket.emit('my_event', {data: 'I\'m connected!'});
  });
});

</script>
{% endblock %}

{% block content %}
<!-- https://stackoverflow.com/a/68817428 -->
<div class="container p-0 m-0">
  <table class="table vh-100 vw-100">
    <tr>
      <td class="p-0 m-0 col-9">
        <table class="table table-bordered vh-100" style="table-layout: fixed;">
        {% for row in team_rows %}
          <tr>
          {% for g in row %}
            {% set team=g.team %}
            {% if team is none %}
              <td class=""></td>
            {% else %}
              <td class="cm" id="team-{{team.team_number}}">
                <div class="h1">{{ team.team_number }}</div>
                <div class="h6">{{ team.team_name }}</div>
                <div>{{ team.city }}</div>
                <div id="team-{{team.team_number}}-status"></div>
              </td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </td>
      <td class="col-3">
        RH
      </td>
    </tr>
  </table>
</div>
  <div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>


{% endblock %}

<!-- context menu: https://stackoverflow.com/a/31305343 -->
{% block script %}
<script type="text/javascript" charset="utf-8">
$(function() {

  var $contextMenu = $("#contextMenu");

  $("body").on("click", "table .cm", function(e) {
    $contextMenu.css({
      display: "block",
      left: e.pageX,
      top: e.pageY
    });
    return false;
  });

  $contextMenu.on("click", "a", function() {
     $contextMenu.hide();
  });

});
</script>
{% endblock %}
