{% extends 'base.html' %}

{% block title %}Public Scoreboard{% endblock %}

{% block head %}
<style>
#contextMenu {
  position: absolute;
  display:none;
}

// see https://stackoverflow.com/a/27704409 for why we include the table id

#team-table .x-lri-t-weighed {
  background-color: #ffffff;
}

#team-table .x-lri-t-passed-inspection {
  background-color: #80ff80;
}

#team-table .x-lri-t- {
  background-color: #c0c0c0;
}

#team-table .x-lri-blank {
  background-color: #c0c0c0;
}

#page-table .x-lri-blank {
  // background-color: #808080;
}

.dropdown-menu.drop {
  min-width: 1000px
}
</style>
{% endblock %}

{% block body %}
<!-- https://stackoverflow.com/a/68817428 -->
<div class="container p-0 m-0">
  <table class="table vh-100 vw-100" id="page-table">
    <tr>
      <td class="p-0 m-0 col-9">
        <table id="team-table" class="table table-bordered vh-100" style="table-layout: fixed;">
        {% for row in row_data %}
          <tr>
          {% for g in row %}
            {% set team=g.team %}
            {% if team is none %}
              <td class="x-lri-blank"></td>
            {% else %}
              <td id="t-{{team.number}}-box" class="x-lri-t- cm x-lri-team" data-team-number="{{team.number}}">
                <span id="t-{{team.number}}" class="d-none"></span>
                <div class="h1">{{ team.number }}</div>
                <div class="h6">{{ team.name }}</div>
                <div class="h6">{{ team.city }}</div>
                <div id="t-{{team.number}}-status"></div>
              </td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </td>
      <td class="col-3 x-lri-blank">
        <div id="overall-status" class="h1">&nbsp;</div>
        <div id="inspectors">
        {% for i in inspectors %}
          <div id="i-{{ i.id }}-box" class="x-lri-inspector x-lri-i-available" data-inspector-id="{{ i.id }}">
            <span id="i-{{ i.id }}" class="d-none"></span>
            <span>{{ i.name }}:</span>
            <span id="i-{{ i.id }}-status"></span>
          </div>
        {% endfor %}
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- the modal for changing team status -->
<div class="modal fade" id="team-pulldown">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">
          Change status for <span id="team-pulldown-team-number" class="x-lri-pulldown-team-number"></span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="h5 x-lri-pulldown-team-name">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <span>
          <button id="team-pulldown-weigh" class="btn btn-primary x-lri-team-pulldown-item">Mark Weighed</button>
          <button id="team-pulldown-unweigh" class="btn btn-primary x-lri-team-pulldown-item">Mark Not Weighed</button>
          <button id="team-pulldown-inspect" class="btn btn-primary x-lri-team-pulldown-item">Mark Inspected</button>
          <button id="team-pulldown-uninspect" class="btn btn-primary x-lri-team-pulldown-item">Mark Not Inspected</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- the modal for changing inspector status -->
<div class="modal fade" id="inspector-pulldown">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">
          Change status for
          <span class="x-lri-pulldown-inspector-name"></span>
          <span id="inspector-pulldown-inspector-id" class="x-lri-pulldown-inspector-id d-none"></span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-footer justify-content-between">
        <span>
          <button id="inspector-pulldown-available" class="btn btn-primary x-lri-inspector-pulldown-item">Available</button>
          <button id="inspector-pulldown-break" class="btn btn-primary x-lri-inspector-pulldown-item">On Break</button>
          <button id="inspector-pulldown-field" class="btn btn-primary x-lri-inspector-pulldown-item">On Field</button>
          <button id="inspector-pulldown-gone" class="btn btn-primary x-lri-inspector-pulldown-item">(Gone)</button>
          <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              With team...
            </button>
            <!-- team number dropdown for inspector modal -->
            <div class="dropdown-menu drop" aria-labelledby="dropdownMenuButton">
              <div class="row">
                <div class="col-4">
                {% set list_length = (((team_data|length) + 2) / 3)|int %}
                {% for g in team_data %}
                  {% set team = g.team %}
                  <a class="dropdown-item x-lri-inspector-pulldown-with-team" href="#" data-team-number="{{ team.number }}">{{ team.number }}: {{ team.name }}</a>
                  {% if (loop.index % list_length) == 0 %}
                </div>
                <div class="col-4">
                  {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>


<script src="/static/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

function makeClassName(text) {
  return text.replaceAll(new RegExp("\\s+", "g"), "-").toLowerCase();
}

// https://stackoverflow.com/a/53190845 slightly modified the regexp
function removeClassStartingWith(node, begin) {
  node.removeClass (function (index, className) {
    return (className.match ( new RegExp("\\b"+begin+"\\S*", "g") ) || []).join(' ');
  });
}

$(document).ready(function() {
  // Connect to the Socket.IO server.
  // The connection URL has the following format, relative to the current page:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io();

  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('lri_event', {data: 'LRI page connected!'});
    socket.emit('send_teams', {});
    socket.emit('send_inspectors', {});
    socket.emit('send_status', {});
  });

  // server sent us a status summary
  socket.on('status', function(msg, cb) {
    var total = msg.total;
    var complete = msg.complete;

    $('#overall-status').text(complete + " of " + total + " passed.");

    if (cb) cb();
  });

  // server updated a team
  socket.on('team', function(msg, cb) {
    // $('#log').append('<br>' + $('<div/>').text(JSON.stringify(msg)).html());
    var number = msg.number.toString();
    $('#t-' + number).text(JSON.stringify(msg));
    $('#t-' + number).attr('data-o', JSON.stringify(msg));

    var s = msg.status;
    if (s == '') s = '\u00a0';
    $('#t-' + number + '-status').text(s);

    removeClassStartingWith($('#t-' + number + '-box'), 'x-lri-t-');
    $('#t-' + number + '-box').addClass('x-lri-t-' + makeClassName(msg.status));
    if (cb) cb();
  });

  // user clicked on an team
  $('.x-lri-team').on('click', function(e) {
    console.log('clicked', e);
    team_number = e.currentTarget.dataset.teamNumber;
    team = JSON.parse($('#t-' + team_number).attr('data-o'));
    console.log("team:", team);

    if (team.inspected) {
      $('#team-pulldown-weigh').hide();
      $('#team-pulldown-unweigh').hide();
      $('#team-pulldown-inspect').hide();
      $('#team-pulldown-uninspect').show();
    } else {
      $('#team-pulldown-uninspect').hide();
      if (team.weighed) {
        $('#team-pulldown-weigh').hide();
        $('#team-pulldown-unweigh').show();
        $('#team-pulldown-inspect').show();
      } else {
        $('#team-pulldown-weigh').show();
        $('#team-pulldown-unweigh').hide();
        $('#team-pulldown-inspect').hide();
      }
    }

    $('.x-lri-pulldown-team-number').text(team.number.toString())
    $('.x-lri-pulldown-team-name').text(team.name)
    let modal = new bootstrap.Modal(document.getElementById('team-pulldown'));
    modal.show();
  });

  // user clicked on a button in the team modal
  $('.x-lri-team-pulldown-item').on('click', function(e) {
    console.log('clicked', e);
    console.log('button id is', e.target.id);
    $('#team-pulldown').modal('hide');
    var number = Number($('#team-pulldown-team-number').text())
    socket.emit(e.target.id, {'number': number})
  });

  // server sent us information on an inspector
  socket.on('inspector', function(msg, cb) {
    var inspector_id = msg.id.toString();
    $('#i-' + inspector_id).text(JSON.stringify(msg));
    $('#i-' + inspector_id).attr('data-o', JSON.stringify(msg));

    $('#i-' + inspector_id + '-status').text(msg.status_text);

    if (cb) cb();
  });

  // user clicked on an inspector
  $('.x-lri-inspector').on('click', function(e) {
    console.log('clicked', e);
    inspector_id = e.currentTarget.dataset.inspectorId;
    inspector = JSON.parse($('#i-' + inspector_id).attr('data-o'));
    console.log("inspector:", inspector);

    $('.x-lri-pulldown-inspector-id').text(inspector.id.toString())
    $('.x-lri-pulldown-inspector-name').text(inspector.name)
    let modal = new bootstrap.Modal(document.getElementById('inspector-pulldown'));
    modal.show();
  });

  // user clicked on a button in the inspector modal
  $('.x-lri-inspector-pulldown-item').on('click', function(e) {
    console.log('clicked', e);
    console.log('button id is', e.target.id);
    $('#inspector-pulldown').modal('hide');
    var id = Number($('#inspector-pulldown-inspector-id').text())
    socket.emit(e.target.id, {'id': id})
  });

  // user clicked on a team number in the inspector modal
  $('.x-lri-inspector-pulldown-with-team').on('click', function(e) {
    console.log('clicked', e);
    console.log('button id is', e.target.id);
    console.log('button team number is', e.target.dataset.teamNumber);
    $('#inspector-pulldown').modal('hide');
    var id = Number($('#inspector-pulldown-inspector-id').text())
    socket.emit('inspector-pulldown-team', {'id': id, 'team': Number(e.target.dataset.teamNumber)})
  });
});

</script>
{% endblock %}
